html {
    font-size: 16px;
}

/* body styling */
body {
    font-family: inter;
    margin: 0;
    padding: 2.5vh 0;
    width: 100%;
    height: 100vh;
    background-image: url(img/futuristic-ai-with-guy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* main styling */
main {
    overflow-y: auto;
    height: 95vh;
    width: 80vw;
    max-width: 600px;
    min-width: 400px;
    margin: 2rem auto;
    padding: 0;
    border-radius: 8px;
}

main::-webkit-scrollbar {
    display: none;
}

/* header styling */
header {
    background-color: #440467;
    margin: 0 auto;
    padding: 3rem 2rem;
}

/* font styling */
p {
    font-size: 0.8rem;
    color: #fbf5ff;
    margin: 0;
    padding: 0 0.2rem;
}

h1 {
    font-size: 3.815rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
    margin: 0 0 2rem 0;
    color: #fbf5ff;
}

h6 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 0 0.2rem;
    color: #fbf5ff;
}

img {
    margin: 0 0 1rem 0;
    padding: 0;
}

span {
    font-size: 0.64rem;
}

/* form styling */
form {
    background-color: #fbf5ffdd;
    font-size: 1rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

fieldset {
    border: none;
    padding: 1rem 0;
}

label {
    display: block;
}

/* input, select, textarea styling */
input, select, textarea, input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    font-family: inter;
    font-size: 0.8rem;
    border-width: 0 0 1.5px 0;
    border-color: #ffffff; 
    
}

input:hover, input:active, input:default, input:focus {
    border-color: #781cad;
}

select:hover, select:active, select:default, select:focus {
    border-color: #781cad;
}

textarea:hover, textarea:active, textarea:default, textarea:focus {
    border-color: #781cad;
}

option {
    padding: 0.8rem 0;
}
option:hover option:active option:default option:focus {
    background-color: #781cad;
    color: #fbf5ff;
}

input[type="submit"] {
    background-color: #781cad;
    color: #fbf5ff;
    border: 1px solid #781cad;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #440467;
    border: 1px solid #440467;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 0.5rem 0.5rem 0;
    padding: 0;
    width: unset;
}



